@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Fix for Leaflet marker icons in Next.js */
.leaflet-default-icon-path {
  background-image: url("https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png");
}

.leaflet-default-shadow-path {
  background-image: url("https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png");
} 